 

article,

aside,

details,

figcaption,

figure,

footer,

header,

hgroup,

nav,

section,

summary {

    display: block;

}

 

/*

 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.

 */

 

audio,

canvas,

video {

    display: inline-block;

    *display: inline;

    *zoom: 1;

}

 

/*

 * Prevents modern browsers from displaying `audio` without controls.

 * Remove excess height in iOS 5 devices.

 */

 

audio:not([controls]) {

    display: none;

    height: 0;

}

 

/*

 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,

 * and Safari 4.

 * Known issue: no IE 6 support.

 */

 

[hidden] {

    display: none;

}

 

/* ==========================================================================

   Base

   ========================================================================== */

 

/*

 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using

 *    `em` units.

 * 2. Prevents iOS text size adjust after orientation change, without disabling

 *    user zoom.

 */

html {

    font-size: 100%; /* 1 */

    -webkit-text-size-adjust: 100%; /* 2 */

    -ms-text-size-adjust: 100%; /* 2 */

}



html, html a {

    -webkit-font-smoothing: antialiased !important;

    -moz-font-smoothing: antialiased !important;

    -o-font-smoothing: antialiased !important;

    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    transition: 0.5s ease;

    -moz-transition: 0.5s ease;

    -webkit-transition: 0.5s ease;

    -o-transition: 0.5s ease;

}

 

/*

 * Addresses `font-family` inconsistency between `textarea` and other form

 * elements.

 */

 

html,

button,

input,

select,

textarea {

    font-family: serif;

}

 

/*

 * Addresses margins handled incorrectly in IE 6/7.

 */

 

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

 

/* ==========================================================================

   Links

   ========================================================================== */

 

/*

 * Addresses `outline` inconsistency between Chrome and other browsers.

 */

 

a:focus {

    outline: thin dotted;

}

 

/*

 * Improves readability when focused and also mouse hovered in all browsers.

 */

 

a:active,

a:hover {

    outline: 0;

}

 

/* ==========================================================================

   Typography

   ========================================================================== */

 

/*

 * Addresses font sizes and margins set differently in IE 6/7.

 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,

 * and Chrome.

 */

 

h1 {

    font-size: 2em;

    margin: 0.67em 0;

}

 

h2 {

    font-size: 1.5em;

    margin: 0.83em 0;

    font-weight: 800;

}

 

h3 {

    font-size: 1.17em;

    margin: 1em 0;

}

 

h4 {

    font-size: 1em;

    margin: 1.33em 0;

}

 

h5 {

    font-size: 0.83em;

    margin: 1.67em 0;

}

 

h6 {

    font-size: 0.75em;

    margin: 2.33em 0;

}

 

/*

 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.

 */

 

abbr[title] {

    border-bottom: 1px dotted;

}

 

/*

 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.

 */

 

b,

strong {

    font-weight: bold;

}

 

blockquote {

    margin: 1em 40px;

}

 

/*

 * Addresses styling not present in Safari 5 and Chrome.

 */

 

dfn {

    font-style: italic;

}

 

/*

 * Addresses styling not present in IE 6/7/8/9.

 */

 

mark {

    background: #ff0;

    color: #000;

}

 

/*

 * Addresses margins set differently in IE 6/7.

 */

 

p,

pre {

    margin: 1em 0;

}

 

/*

 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.

 */

 

code,

kbd,

pre,

samp {

    font-family: monospace, serif;

    _font-family: 'courier new', monospace;

    font-size: 1em;

}

 

/*

 * Improves readability of pre-formatted text in all browsers.

 */

 

pre {

    white-space: pre;

    white-space: pre-wrap;

    word-wrap: break-word;

}

 

/*

 * Addresses CSS quotes not supported in IE 6/7.

 */

 

q {

    quotes: none;

}

 

/*

 * Addresses `quotes` property not supported in Safari 4.

 */

 

q:before,

q:after {

    content: '';

    content: none;

}

 

small {

    font-size: 75%;

}

 

/*

 * Prevents `sub` and `sup` affecting `line-height` in all browsers.

 */

 

sub,

sup {

    font-size: 75%;

    line-height: 0;

    position: relative;

    vertical-align: baseline;

}

 

sup {

    top: -0.5em;

}

 

sub {

    bottom: -0.25em;

}

 

/* ==========================================================================

   Lists

   ========================================================================== */

 

/*

 * Addresses margins set differently in IE 6/7.

 */

 

dl,

menu,

ol,

ul {

    margin: 1em 0;

}

 

dd {

    margin: 0 0 0 40px;

}

 

/*

 * Addresses paddings set differently in IE 6/7.

 */

 

menu,

ol,

ul {

    padding: 0 0 0 40px;

}

 

/*

 * Corrects list images handled incorrectly in IE 7.

 */

 

nav ul,

nav ol {

    list-style: none;

    list-style-image: none;

}

 

/* ==========================================================================

   Embedded content

   ========================================================================== */

 

/*

 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.

 * 2. Improves image quality when scaled in IE 7.

 */

 

img {

    border: 0; /* 1 */

    -ms-interpolation-mode: bicubic; /* 2 */

}

 

/*

 * Corrects overflow displayed oddly in IE 9.

 */

 

svg:not(:root) {

    overflow: hidden;

}

 

/* ==========================================================================

   Figures

   ========================================================================== */

 

/*

 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.

 */

 

figure {

    margin: 0;

}

 

/* ==========================================================================

   Forms

   ========================================================================== */

 

/*

 * Corrects margin displayed oddly in IE 6/7.

 */

 

form {

    margin: 0;

}

 

/*

 * Define consistent border, margin, and padding.

 */

 

fieldset {

    border: 1px solid #c0c0c0;

    margin: 0 2px;

    padding: 0.35em 0.625em 0.75em;

}

 

/*

 * 1. Corrects color not being inherited in IE 6/7/8/9.

 * 2. Corrects text not wrapping in Firefox 3.

 * 3. Corrects alignment displayed oddly in IE 6/7.

 */

 

legend {

    border: 0; /* 1 */

    padding: 0;

    white-space: normal; /* 2 */

    *margin-left: -7px; /* 3 */

}

 

/*

 * 1. Corrects font size not being inherited in all browsers.

 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,

 *    and Chrome.

 * 3. Improves appearance and consistency in all browsers.

 */

 

button,

input,

select,

textarea {

    font-size: 100%; /* 1 */

    margin: 0; /* 2 */

    vertical-align: baseline; /* 3 */

    *vertical-align: middle; /* 3 */

}

 

/*

 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in

 * the UA stylesheet.

 */

 

button,

input {

    line-height: normal;

}

 

/*

 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`

 *    and `video` controls.

 * 2. Corrects inability to style clickable `input` types in iOS.

 * 3. Improves usability and consistency of cursor style between image-type

 *    `input` and others.

 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.

 *    Known issue: inner spacing remains in IE 6.

 */

 

button,

html input[type="button"], /* 1 */

input[type="reset"],

input[type="submit"] {

    -webkit-appearance: button; /* 2 */

    cursor: pointer; /* 3 */

    *overflow: visible;  /* 4 */

}

 

/*

 * Re-set default cursor for disabled elements.

 */

 

button[disabled],

input[disabled] {

    cursor: default;

}

 

/*

 * 1. Addresses box sizing set to content-box in IE 8/9.

 * 2. Removes excess padding in IE 8/9.

 * 3. Removes excess padding in IE 7.

 *    Known issue: excess padding remains in IE 6.

 */

 

input[type="checkbox"],

input[type="radio"] {

    box-sizing: border-box; /* 1 */

    padding: 0; /* 2 */

    *height: 13px; /* 3 */

    *width: 13px; /* 3 */

}

 

/*

 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.

 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome

 *    (include `-moz` to future-proof).

 */

 

input[type="search"] {

    -webkit-appearance: textfield; /* 1 */

    -moz-box-sizing: content-box;

    -webkit-box-sizing: content-box; /* 2 */

    box-sizing: content-box;

}

 

/*

 * Removes inner padding and search cancel button in Safari 5 and Chrome

 * on OS X.

 */

 

input[type="search"]::-webkit-search-cancel-button,

input[type="search"]::-webkit-search-decoration {

    -webkit-appearance: none;

}

 

/*

 * Removes inner padding and border in Firefox 3+.

 */

 

button::-moz-focus-inner,

input::-moz-focus-inner {

    border: 0;

    padding: 0;

}

 

/*

 * 1. Removes default vertical scrollbar in IE 6/7/8/9.

 * 2. Improves readability and alignment in all browsers.

 */

 

textarea {

    overflow: auto; /* 1 */

    vertical-align: top; /* 2 */

}

 

/* ==========================================================================

   Tables

   ========================================================================== */

 

/*

 * Remove most spacing between table cells.

 */

 

table {

    border-collapse: separate;
    border-spacing:  10px;
    
    /*box-shadow:5px 5px 10px black;*/

}



/* ==========================================================================

   User Styles

   ========================================================================== */

 

/*

 * Put all your custom styles here.

 */

 .clearfix:before,  

.clearfix:after {  

    content: " ";  

    display: table;  

}  

.clearfix:after {  

    clear: both;  

}  

.clearfix {  

    *zoom: 1;  

}  

.pullcontainer a#pull {  

    display: none;  

}

header {

    background-color: #fff;

}

h2.logo-text {

    font-size: 24px;

    margin: 0;

    padding: 0px 20px;

}

.logo {

    float: left;

    text-align: center;

    height: 80px;

    background-color: #71706A;

    position: relative;

    color: #fff;

}

.logo-bg {

    background-color: #0045AD;

    position: absolute;

    left:0px;

    top: 0px;

    padding: 34px;

    width: 50%;

}

nav {

    float: left;

    background-color: #fff;

}

nav ul {

    margin: 0;

}

nav ul li {

    list-style: none;

    float: left;

}

nav ul li a {

    display: block;

    padding: 25px 43px 23px 5px;

    text-transform: uppercase;

    color: #586165;

    font-size: 14px;

    font-weight: 600;

    letter-spacing: -0.02em;

    transition: 0.5s ease;

    -moz-transition: 0.5s ease;

    -webkit-transition: 0.5s ease;

    -o-transition: 0.5s ease;

}

nav ul li a:hover {

    text-decoration: none;

    color: #0045AD;

}

nav ul li a.active {

    color: #0045AD;

}

.hero {

    background: url(../img/herobg.jpg) no-repeat center center; 

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    -webkit-box-shadow: inset 0 8px 0px -6px rgba(0,0,0,0.3);

    -moz-box-shadow: inset 0 8px 0px -6px rgba(0,0,0,0.3);

    box-shadow: inset 0 8px 0px -6px rgba(0,0,0,0.3);

    text-align: center;

    padding: 20% 0;

    margin-bottom: 40px;

}

.hero-title {

    background-color: #03C;

    color: #fff;

    font-size: 28px;

    font-weight: 600;

    padding: 30px 20px;

    margin-top: 240px;

	background-color: rgba(2,2,0,0.2);

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    border-radius: 5px; /* future proofing */

    -khtml-border-radius: 5px; /* for old Konqueror browsers */

}

.hero-content {

    background-color: #242a2c;

    margin: 5px 30px 35px;

    color: #fff;

    padding: 20px;

    font-size: 16px;

}

.hero-btn {

    border: solid 1px rgba(255,255,255,0.3);

    background-color: rgba(0,0,0,0.2);

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    border-radius: 5px; /* future proofing */

    -khtml-border-radius: 5px; /* for old Konqueror browsers */

    padding: 15px 25px;

    color: #fff;

    text-decoration: none;

    font-size: 16px;

    font-weight: 600;

}

.hero-btn:hover {

    color: #0045AD;

    text-decoration: none;

    border: solid 1px rgba(255,255,255,0.6);

    background-color: rgba(0,0,0,0.4);

}

.arrow {

    height: 37px;

    width: 100%;

    padding: 0px;

    margin: -37px 0;

    background-image: url('../img/arrowup.png');

    background-repeat: no-repeat;

    background-position: center;

    position: relative;

}

.carousel {

    text-align: center;

    margin-top: 40px;

}

.av1 {

    height: 88px;

    width: 88px;

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  0px 0px;

    margin: -55px auto;

    position: relative;

}

.ca-hover:hover .av1 {

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  0px -88px;



}

.av2 {

    height: 88px;

    width: 88px;

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  -88px 0px;

    margin: -55px auto;

    position: relative;

}

.ca-hover:hover .av2 {

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  -88px -88px;

}

.av3 {

    height: 88px;

    width: 88px;

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  -176px 0px;

    margin: -55px auto;

    position: relative;

}

.ca-hover:hover .av3 {

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  -176px -88px;

}

.av4 {

    height: 88px;

    width: 88px;

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  -264px 0px;

    margin: -55px auto;

    position: relative;

}

.ca-hover:hover .av4 {

    background: url(../img/teamsprite.png) no-repeat;

    background-position:  -264px -88px;

}

.carousel-content {

    text-align: left;

    padding: 10px 25px;

    border-left: solid 1px #dbe1e7;

}

.carousel-content h3, .text-inter h3 {

    color: #737c85;

    font-size: 21px;

    padding-top: 40px;

}

.carousel-content p, .text-inter p {

    color: #929da5;

    font-size: 14px;

    word-spacing: 2px;

}

.overlay {

    height: 100%;

    position: absolute;

    left: 15px;

    right: 15px;

    top: 0px;

    opacity: 0;

    border: solid 5px #0045AD;

}

.overlay:hover {

    opacity: 1;

}

.ca-hover:hover .carousel-content h3 {

    color: #0045AD;

}

.ca-hover:hover .carousel-content p {

    color: #0045AD;

}

.carousel-img img {

    width: 100%;

}

.controls {

    margin: 20px;

    text-align: center;

}

.controls li {

    list-style: none;

    display: inline;

}



.text-inter {

    background-color: #f8f9f9;

    padding: 20px 0 80px;

    border-top: solid 1px #e3e3e3;

}

.button.solid-color {

    background-color: #0045AD;

    padding: 11px 40px 10px 40px;

    border-radius: 3px;

    font-weight: 600;

    font-size: 16px;

    color: #fff;

    margin-right: 15px;

}

.button.solid-color:hover {

    background-color: #929da5;

    text-decoration: none;

}

.button.extra-color {

    background-color: #455357;

    padding: 15px 40px;

    border-radius: 3px;

    font-weight: 600;

    font-size: 16px;

    color: #fff;

}

.button.extra-color:hover {

    background-color: #929da5;

    text-decoration: none;

}

.divider {

    height: 25px;

}

.h2-wrap {

    background-color: #0045AD;

    padding: 5px 0;

}

.standard-block {

    font-size: 24px;

    color: #fff;

    font-weight: 400 !important;

}

.articles {

    overflow: hidden;

}

.container-fluid {

    padding-left: 0px;

    padding-right: 15px;

}

.article-img img {

    width: 100%;

}

.article-img {

    padding-left: 0px;

    padding-right: 0px;

}

.article-overlay {

    height: 100%;

    width: 100%;

    position: absolute;

    top: 0px;

    background-color: #000;

    opacity: 0.5;

    transition: 0.5s ease;

    -moz-transition: 0.5s ease;

    -webkit-transition: 0.5s ease;

    -o-transition: 0.5s ease;

    cursor: pointer;

}

.article-overlay:hover {

    opacity: 0;



}

.container-articles {

    border-bottom: 1px solid #333b3e;

}

.laptop-slider {

    text-align: center;

    background-color: #F5F5F5;

    padding: 125px 0 100px;

    color: #036;



}

.slideshow, .quote-slideshow {

    position: relative;

    display: block;

    overflow: hidden;

}



figure{

    position: absolute;

    opacity: 0;

    transition: 1s opacity;

    width: 100%;

}

figure.show {

    opacity: 1;

    position: absolute;

    position: static;

    transition: 1s opacity;

}

figcaption{

    font-size: 18px;

    color: #fff;

    text-align: center;

}

figcaption a{

color: #fff;

}

.quote-container {

    background-color: #0045AD;

    padding: 50px 0;

}

.quote-slideshow {

    height: auto;

}

.quote-slideshow h2 {

    color: #fff;

    font-size: 30px;

    font-weight: 200;

    font-style: italic;

}

.circle {

    background-color: rgba(0,0,0,0.1);

    width: 40px;

    height: 40px;

    border-radius: 50%;

    text-align: center;

}

.circle i {

    margin-top: 6px;

}

.shadow{

    height: 10px;

    background-color: #0045AD;

}

footer {

    background-color: #0045AD;

    padding: 50px 0 250px 0;

    color: #FFFFFF;

}

footer h2 {

    font-size: 24px;

}

.footer-links li {

    list-style: none;

}

.footer-links li a{

    color: #FC0;

    margin-bottom: 15px;

    display: block;

    font-weight: normal;

}

.footer-links li a:hover {

    color: #687579;

    text-decoration: none;

}

.banner { 

    position: relative; 

    overflow: auto; 

    width:99%;

    text-align: center;

	margin-left:8px;

}

.banner ul {

    margin: 0;

    padding: 0;

}

.banner li { 

    list-style: none; 

}

.banner ul li { 

    float: left;

    height: 776px;

    display: block;

}

.banner .dots {

    position: absolute;

    left: 0;

    right: 0;

    bottom: 20px;

    text-align: left;

}

.banner .dots li {

    display: inline-block;

    width: 10px;

    height: 10px;

    margin: 0 4px;    

    text-indent: -999em;     

    border: 2px solid #fff;

    border-radius: 6px;    

    cursor: pointer;

    opacity: .4;       

    -webkit-transition: background .5s, opacity .5s;

    -moz-transition: background .5s, opacity .5s;

    transition: background .5s, opacity .5s;

}

.banner .dots li.active {

    background: #fff;

    opacity: 1;

}





/* ACCORDION -------------------------------------------------*/

.transition, p, ul li i:before, ul li i:after {

  transition: all 0.25s ease-in-out;

}



.flipIn, h1, ul li {

  animation: flipdown 0.5s ease both;

}



.no-select, h2 {

  -webkit-tap-highlight-color: transparent;

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none; 

  -ms-user-select: none;

  user-select: none;

}







h11, h12 {

  color: #F60;

}



h11 {

  text-transform: uppercase;

  font-size: 20px;

  line-height: 42px;

  letter-spacing: 3px;

  font-weight: 100;

}



h12 {

  font-size: 18px;

  line-height: 34px;

  font-weight: 300;

  letter-spacing: 1px;

  display: block;

  background-color: #fefffa;

  margin: 0;

  cursor: pointer;

}



p {

  font-size: 14px;

  line-height: 26px;

  letter-spacing: 1px;

  position: relative;

  overflow: hidden;

  max-height: 800px;

  opacity: 1;

  transform: translate(0, 0);

  margin-top: 10px;

  z-index: 2;

}



ul {

  list-style: none;

  perspective: 900;

  padding: 0;

  margin: 0;

}

ul li {

  position: relative;

  padding: 0;

  margin: 0;

  padding-bottom: 4px;

  padding-top: 18px;

  border-top: 1px dotted #dce7eb;

}

ul li:nth-of-type(1) {

  animation-delay: 0.5s;

}

ul li:nth-of-type(2) {

  animation-delay: 0.75s;

}

ul li:nth-of-type(3) {

  animation-delay: 1s;

}

ul li:last-of-type {

  padding-bottom: 0;

}

ul li i {

  position: absolute;

  transform: translate(-6px, 0);

  margin-top: 16px;

  right: 0;

}

ul li i:before, ul li i:after {

  content: "";

  position: absolute;

  background-color: #ff6873;

  width: 3px;

  height: 9px;

}

ul li i:before {

  transform: translate(-2px, 0) rotate(45deg);

}

ul li i:after {

  transform: translate(2px, 0) rotate(-45deg);

}

ul li input[type=checkbox] {

  position: absolute;

  cursor: pointer;

  width: 100%;

  height: 100%;

  z-index: 1;

  opacity: 0;

}

ul li input[type=checkbox]:checked ~ p {

  margin-top: 0;

  max-height: 0;

  opacity: 0;

  transform: translate(0, 50%);

}

ul li input[type=checkbox]:checked ~ i:before {

  transform: translate(2px, 0) rotate(45deg);

}

ul li input[type=checkbox]:checked ~ i:after {

  transform: translate(-2px, 0) rotate(-45deg);

}



@keyframes flipdown {

  0% {

    opacity: 0;

    transform-origin: top center;

    transform: rotateX(-90deg);

  }

  5% {

    opacity: 1;

  }

  80% {

    transform: rotateX(8deg);

  }

  83% {

    transform: rotateX(6deg);

  }

  92% {

    transform: rotateX(-3deg);

  }

  100% {

    transform-origin: top center;

    transform: rotateX(0deg);

  }

}



/*MODAL*/



.modal {

    width: 100%;

    height: 100vh;

    background: rgba(0,0,0,0.8);

    position: absolute;

    top: 0;

    left: 0;

    display: flex;

    animation: modal 2s 3s forwards;

    visibility: hidden;

    opacity: 0;

	z-index:1;

}



.contenido {

    margin: auto;

    width: 492px;

    height: 450px;

    background: transparent;

    border-radius: 10px;

	z-index:2;

}



#cerrar {

    display: none;

}



#cerrar + label {

    position: fixed;

    color: #fff;

    font-size: 14px;

    z-index: 1000;

    background:#F60;

    height: 40px;

    width: 56px;

    line-height: 40px;

    border-radius: 2%;

    right: 150px;

    top: 150px;

    cursor: pointer;

	z-index:3;

    animation: modal 2s 3s forwards;

    visibility: hidden;

    opacity: 0;

}



#cerrar:checked + label, #cerrar:checked ~ .modal {

    display: none;

}



@keyframes modal {

    100% {

        visibility: visible;

        opacity: 1;

    }

}



/*TABLA*/




table{

    margin: 0 auto;

    text-align: center;

    *border-collapse: collapse; /* IE7 and lower */

    border-spacing: 10px;

    width: auto;

	color:#000000;

}

.boton_seguimiento{
    text-decoration:none;  
    width: auto;
    padding-right: 10px;
    margin-bottom: 1px;
    background: #0045AD;
    color: #FFF;
    text-align: center;
    cursor: pointer;

}
.seguimiento-btn{
    text-decoration:none;  
    width: 100px;
    padding: 10px;
    margin-bottom: 30px;
    background: #0045AD;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

.trabajar-btn{
    text-decoration:none;  
    width: 80px;
    padding: 10px;
    margin-bottom: 1px;
    background: #0045AD;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}


.bordered {

    border: solid #ccc 1px;

    -moz-border-radius: 6px;

    -webkit-border-radius: 6px;

    border-radius: 6px;

    -webkit-box-shadow: 0 1px 1px #ccc; 

    -moz-box-shadow: 0 1px 1px #ccc; 

    box-shadow: 0 1px 1px #ccc;         

}



.bordered tr:hover {

    background: #F7E1D5;

    -o-transition: all 0.1s ease-in-out;

    -webkit-transition: all 0.1s ease-in-out;

    -moz-transition: all 0.1s ease-in-out;

    -ms-transition: all 0.1s ease-in-out;

    transition: all 0.1s ease-in-out;     

}    

    

.bordered td, .bordered th {

    border-left: 1px solid #ccc;

    border-top: 1px solid #ccc;

    padding: 10px;

    text-align: left;    

}



.bordered th {

    background-color: #F60;

    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#F60), to(#F60));

    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);*/

    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 

    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  

    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        

    border-top: none;

	color:#FFF;

    /*text-shadow: 0 1px 0 rgba(255,255,255,.5); */

}



.bordered td:first-child, .bordered th:first-child {

    border-left: none;

}



.bordered th:first-child {

    -moz-border-radius: 6px 0 0 0;

    -webkit-border-radius: 6px 0 0 0;

    border-radius: 6px 0 0 0;

}



.bordered th:last-child {

    -moz-border-radius: 0 6px 0 0;

    -webkit-border-radius: 0 6px 0 0;

    border-radius: 0 6px 0 0;

}



.bordered th:only-child{

    -moz-border-radius: 6px 6px 0 0;

    -webkit-border-radius: 6px 6px 0 0;

    border-radius: 6px 6px 0 0;

}



.bordered tr:last-child td:first-child {

    -moz-border-radius: 0 0 0 6px;

    -webkit-border-radius: 0 0 0 6px;

    border-radius: 0 0 0 6px;

}



.bordered tr:last-child td:last-child {

    -moz-border-radius: 0 0 6px 0;

    -webkit-border-radius: 0 0 6px 0;

    border-radius: 0 0 6px 0;

}







/*----------------------*/



.zebra td, .zebra th {

    padding: 10px;

    border-bottom: 1px solid #f2f2f2;    

}



.zebra tbody tr:nth-child(even) {

    background: #f5f5f5;

    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 

    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  

    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        

}



.zebra th {

    text-align: left;

    text-shadow: 0 1px 0 rgba(255,255,255,.5); 

    border-bottom: 1px solid #ccc;

    background-color: #eee;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));

    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);

    background-image:    -moz-linear-gradient(top, #f5f5f5, #eee);

    background-image:     -ms-linear-gradient(top, #f5f5f5, #eee);

    background-image:      -o-linear-gradient(top, #f5f5f5, #eee); 

    background-image:         linear-gradient(top, #f5f5f5, #eee);

}



.zebra th:first-child {

    -moz-border-radius: 6px 0 0 0;

    -webkit-border-radius: 6px 0 0 0;

    border-radius: 6px 0 0 0;  

}



.zebra th:last-child {

    -moz-border-radius: 0 6px 0 0;

    -webkit-border-radius: 0 6px 0 0;

    border-radius: 0 6px 0 0;

}



.zebra th:only-child{

    -moz-border-radius: 6px 6px 0 0;

    -webkit-border-radius: 6px 6px 0 0;

    border-radius: 6px 6px 0 0;

}



.zebra tfoot td {

    border-bottom: 0;

    border-top: 1px solid #fff;

    background-color: #f1f1f1;  

}



.zebra tfoot td:first-child {

    -moz-border-radius: 0 0 0 6px;

    -webkit-border-radius: 0 0 0 6px;

    border-radius: 0 0 0 6px;

}



.zebra tfoot td:last-child {

    -moz-border-radius: 0 0 6px 0;

    -webkit-border-radius: 0 0 6px 0;

    border-radius: 0 0 6px 0;

}



.zebra tfoot td:only-child{

    -moz-border-radius: 0 0 6px 6px;

    -webkit-border-radius: 0 0 6px 6px;

    border-radius: 0 0 6px 6px

}

#sesion {
    background-color: #CCC4C4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    height: auto;
    width: 300px;
    border: 4px ;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    
    /*bordes*/
    border.radius: 10px;  /* Estandar CSS3 */
    -moz-border-radius:10px;  /* Mozilla Firefox*/
    -webkit-border-radius:10px; /* WebKit y Safari */
    border-radius: 10px; /* IE */   
}

#form_register{
    height: auto;
    width: 300px;
}

#condiciones{

    position:absolute; 

    display:none; 

    text-left:center;

    font-size:10px;

    top:400px;

  

    border:solid 1px #FC0;

    background:#FFF; 

    color:#333; 

    width:350px; 

    overflow:auto; 

    height:300px;

    padding:10px;
}

#aviso {
    background-color: #0045AD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    height: auto;
    width: 500px;
    border: 4px ;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    
    /*bordes*/
    border.radius: 10px;  /* Estandar CSS3 */
    -moz-border-radius:10px;  /* Mozilla Firefox*/
    -webkit-border-radius:10px; /* WebKit y Safari */
    border-radius: 10px; /* IE */   
}

.button.solid-color-menu {

    background-color: #0045AD;

    padding: 15px 40px;

    border-radius: 3px;

    font-weight: 600;

    font-size: 16px;

    color: #fff;

    margin-right: 15px;

}

.button.solid-color-menu:hover {

    background-color: #929da5;

    text-decoration: none;

}

.button.solid-color-danger {

    background-color: #da4f49;

    padding: 11px 40px 10px 40px;

    border-radius: 3px;

    font-weight: 600;

    font-size: 16px;

    color: #fff;

    margin-right: 15px;

}

.button.solid-color-danger:hover {

    background-color: #929da5;

    text-decoration: none;

}